{% extends 'base.html.twig' %}
{% block title %}Stations{% endblock %}

    {% block body %}

        <div class="col-md-12">
            <legend>Custom Endpoints</legend>
            <a href="{{ url('view_all_stations_by_distance') }}" title="view by distance" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-eye-open text-primary"></i> View by Distance</a>
            <a href="{{ url('view_all_stations_by_company_id') }}" title="view tree by company id" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-eye-open text-primary"></i> View tree by company id</a>
            <br><br>
        </div>

        <!-- FORM  -->
        <div class="col-md-12">

            <form class="form-horizontal" method="POST" action="{{ url('viewdistance') }}">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Stations</legend>

                    <!-- Prepended text-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="client-email">Latitude</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">latitude</span>
                                <input id="station-latitude" name="station-latitude" class="form-control" placeholder="Latitude" type="text">
                            </div>
                            <p class="help-block">Latitude of your stations</p>
                        </div>
                    </div>

                    <!-- Prepended text-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="client-email">Longitude</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">longitude</span>
                                <input id="station-longitude" name="station-longitude" class="form-control" placeholder="Longitude" type="text">
                            </div>
                            <p class="help-block">Longitude of your stations</p>
                        </div>
                    </div>

                    <!-- Prepended text-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="client-email">Distance</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Distance</span>
                                <input id="station-id" name="station-distance" class="form-control" placeholder="Distance" type="text">
                            </div>
                            <p class="help-block">Distance</p>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="btn-save"></label>
                        <div class="col-md-4">
                            <button id="btn-save" name="btn-save" class="btn btn-success">Search</button>
                        </div>
                    </div>

                </fieldset>
            </form>


        </div>

        <div class=col-md-12>
            <legend>Result</legend>
            {% if result is defined %}
                {{  dump(result) }}
            {% else %}
                <p>Nothing to show</p>
            {% endif %}
        </div>

        <br>

    {% endblock %}